<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:ROLE_JENKINSADMIN</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:ROLE_JENKINSADMIN</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:ROLE_JENKINSADMIN</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:ROLE_JENKINSADMIN</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Build:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Configure:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Connect:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Create:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Delete:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Computer.Disconnect:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Hudson.Administer:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Hudson.Read:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Hudson.Read:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Hudson.RunScripts:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Hudson.UploadPlugins:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Build:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Build:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Item.Cancel:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Cancel:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Item.Configure:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Create:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Delete:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Discover:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Discover:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Item.Read:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Read:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Item.Workspace:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Item.Workspace:ROLE_JENKINSDEVELOPERS</permission>
    <permission>hudson.model.Run.Delete:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.Run.Update:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.View.Configure:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.View.Create:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.View.Delete:ROLE_JENKINSADMIN</permission>
    <permission>hudson.model.View.Read:ROLE_JENKINSADMIN</permission>
    <permission>hudson.scm.SCM.Tag:ROLE_JENKINSADMIN</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm">
    <server>ldaps://10.10.10.21</server>
    <rootDN>dc=web-essentials,dc=asia</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase>ou=people</userSearchBase>
    <userSearch>uid={0}</userSearch>
    <groupSearchBase>cn=jenkins,cn=Services,cn=groups</groupSearchBase>
    <disableMailAddressResolver>false</disableMailAddressResolver>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$PatternProjectNamingStrategy">
    <namePattern>(\A([0-9]{3}-){2}([0-9]{2}-)?[a-z_0-9]{3,}-(extension|uat)\z)</namePattern>
    <description></description>
    <forceExistingJobs>true</forceExistingJobs>
  </projectNamingStrategy>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.nested__view.NestedView>
      <owner class="hudson" reference="../../.."/>
      <name>Projects</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <views>
        <listView>
          <owner class="hudson.plugins.nested_view.NestedView" reference="../../.."/>
          <name>01X-0XX Project Name</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames/>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </listView>
      </views>
    </hudson.plugins.nested__view.NestedView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>UAT</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-uat</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Extensions</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-extension</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Templates</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>template-.+</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>Projects</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>