- Private key for chef validator should be here
- Key can be generated on chef server by editing chef-validator client https://chef.web-essentials.asia/clients/chef-validator/edit
- Copy the private key, select all text you read here and paste
- Remove .example from the filename