- Your own private key should be here
- Key can be generated on chef server by creating your own user https://chef.web-essentials.asia/users/new
- Copy the private key, select all text you read here and paste
- Remove .example from the filename